.header {
    padding-top: 70px;
}

.logo {
    width: 160px
}

.grid_center {
    text-align: center;
}

.input_host {
    text-align: center;
    font-size: 12pt;
}

.input_port {
    text-align: center;
    font-size: 12pt;
}

.input_database {
    text-align: center;
    font-size: 12pt;
}

.exec_button {
    min-width: 100%;
    background-color: #00c341;
    color: white;
}
