.header {
    padding-top: 70px;
}

.logo {
    width: 160px
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-grid {
}

.fullWidth {
}

.grid_label {
    margin-bottom: 0;
}

.grid_field {
    padding-top: 10px;
}

.grid_status_label {
    font-size: 10pt;
    padding-left: 10px !important;
}

.grid_status_info {
    font-family: "Courier New", serif;
    font-size: 9pt;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.grid_center {
    text-align: center;
}

.input_field {
    text-align: center;
    font-family: "Courier New", serif;
    font-size: 14pt;
}

.exec_button {
    min-width: 100%;
    background-color: #00c341;
    color: white;
}
